*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    margin: 0;
    padding: 0;
}
header{
    background-color: #5169A7;
    display: flex;
    align-items: center;
    padding: 0 auto;
    margin:0 auto;
    width: 100%;

}
nav{
    margin:auto;
}
ul{
    display: block;
}
li{
    display: inline;
}
a{
    text-decoration: none;
    margin: 0.5em;
}
span+span{
    margin: auto;
    text-align: right;
    font-size: 2em;
}
div{
    background-color:  #D1BEAD;
    display: inline-flexbox;
}
div:first-child{
    background-color:  #D09D72;
}
h1{
    font-size: 2rem;
}
span ul:first-child > :nth-of-type(2n+1){
    text-decoration: line-through;
    color: black;
}
 ul{
    list-style: none;
}
div p{
    text-align: right;
}

div>p{
    width: 100%;
    height: 1px;
    background-color: #4C2949;
}

nav ul :nth-of-type(2n){
    font-weight: bold;
}
div div:first-child span:first-child{
    color:#D47851;
    background-color: #54178C ;
    border-radius: 50%;
    border-width: 1px;
    
}

div div:nth-of-type(2n) span:first-child >ul li{
    display: inline-flex;
}
div div:nth-of-type(2n) span:first-child >ul li:nth-of-type(2n+1){
    float: left;
}
div div:nth-of-type(2n) span:first-child >ul li:nth-of-type(2n){
    float: right;
}
div div:nth-of-type(2n) span:first-child >ul li:nth-of-type(2n) p{
    display: inline;
    font-weight: bold;
}
div div:nth-of-type(2n) span:first-child >ul:nth-of-type(2n+1) :hover{
    color:  #D47851;
}


footer{
    text-align: center;
    padding: 1em;
    background-color: #5169A7;
}